<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">Your message has been sent successfully!</p>
  </div>
</div>

<div class="row">
  <p class="text-center">We've received your message, and we will get back to you shortly. You may also give us a call at <b>(504) 407-1577</b>.</p>
  <p class="text-center">While we review your message, feel free to take a look at some of our <a href="https://www.facebook.com/MikesShowroomService/photos_albums" target="_blank">Work</a> or head back to the <a href="/">Home Page</a>.</p>
</div>