<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mike's Showroom Service</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <h3 class="muted">Mike's Showroom Service</h3>
      </div>

      <div class="jumbotron">
        <h1>It's all in the detail!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="/contact">Schedule an Appointment Today</a>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <a href="/about"><h4>About</h4></a>
          <p>Find out what motivates the type of work that we do, and how this company came to be.</p>

          <a href="/contact"><h4>Contact</h4></a>
          <p>Ready to schedule an appointment? Have a questions about one of our packages? Contact us now!</p>

          <a href="https://www.facebook.com/MikesShowroomService" target="_blank"><h4>Like Us!</h4></a>
          <p>Like us on Facebook and receive updates of our work as it's happening!</p>
        </div>

        <div class="col-lg-6">
          <a href="/services"><h4>Services</h4></a>
          <p>Find out what we offer and choose a package that works best for you. Need something custom? No worries!</p>

          <a href="/work"><h4>Work</h4></a>
          <p>Take a look at our work first hand and see what we can do for your vehicle.</p>

          <a href="/products"><h4>Products</h4></a>
          <p>Are you wondering what brand products we use? Check out our list to see if we leverage your favorite brand(s).</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Mike's Showroom Service 2012-2013</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
