<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>It's all in the detail!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <a class="btn btn-large btn-success" href="mailto:mmisshore@gmail.com">Schedule an Appointment Today</a>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <a href="/services"><h4>Services</h4></a>
    <p>Find out what we offer and choose the service for you. Don't see what you're looking for? Let us know!</p>

    <a href="https://www.facebook.com/MikesShowroomService/photos_albums" target="_blank"><h4>Work</h4></a>
    <p>Take a look at our work first hand and see what we can do for your vehicle.</p>

    <a href="mailto:mmisshore@gmail.com"><h4>Contact</h4></a>
    <p>Ready to schedule an appointment? Have a questions about one of our packages? Contact us now!</p>
  </div>

  <div class="col-lg-6">
    <a href="/packages"><h4>Packages</h4></a>
    <p>Take a look at our most popular packages and choose the right one for you. Need something custom? Feel free to contact us with what you need.</p>

    <a href="https://www.facebook.com/MikesShowroomService" target="_blank"><h4>Like Us!</h4></a>
    <p>Like us on Facebook and receive updates of our work as it's happening!</p>
  </div>
</div>