<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Packages</h1>
    <p class="lead">Take a look at our most popular packages and choose the right one for you. Need something custom? Feel free to contact us with what you need.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Bronze Package</h2>
    <h4 class="text-center">
      Cars: <b>$80</b><br />
      Sedans: <b>$110</b><br />
      Trucks/SUVs: <b>$130</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Light bug and tar removal</li>
      <li>Machine wax</li>
    </ul>
    <p>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.503342539745553.1073741829.316618878417921&type=3">View Example »</a>
      <a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule the Bronze Package">Schedule Bronze Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Silver Package</h2>
    <h4 class="text-center">
      Cars: <b>$120</b><br />
      Sedans: <b>$150</b><br />
      Trucks/SUVs: <b>$170</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Machine wax</li>
      <li><b>Full Bug and Tar Removal</b></li>
      <li><b>Clay Bar</b></li>
    </ul>
    <p>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.432738216805986.100420.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule the Silver Package">Schedule Silver Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Shine Package</h2>
    <h4 class="text-center">
      Cars: <b>$170</b><br />
      Sedans: <b>$220</b><br />
      Trucks/SUVs: <b>$250</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li>
        <b>
          Polish - 25% Correction<br />
          Corrects:
          <ul>
            <li>Haze and Dullness</li>
            <li>Minor Oxidation</li>
            <li>Light Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
    <p><b>Note:</b> The Polishing and Protection steps are combined with this package.</p>
    <p>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.406990479380760.96387.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule the Shine Package">Schedule Shine Package »</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Gold Package</h2>
    <h4 class="text-center">
      Cars: <b>$240</b><br />
      Sedans: <b>$300</b><br />
      Trucks/SUVs: <b>$340</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li>
        <b>
          1 Step Paint Correction - 60% Correction<br />
          Corrects:
          <ul>
            <li>Oxidation</li>
            <li>Light Defects</li>
            <li>Moderate Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
    <p>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.578630195550120.1073741838.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule the Gold Package">Schedule Gold Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Platinum Package</h2>
    <h4 class="text-center">
      Cars: <b>$340</b><br />
      Sedans: <b>$420</b><br />
      Trucks/SUVs: <b>$470</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li>
        <b>
          2 Step Paint Correction - 85% Correction<br />
          Corrects:
          <ul>
            <li>Heavy Defects</li>
            <li>All Swirl Marks</li>
          </ul>
        </b>
      </li>
      <li><b>Finishing Glaze</b></li>
    </ul>
    <p>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.327525280660614.76105.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule the Platinum Package">Schedule Platinum Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">The Showroom Service</h2>
    <h4 class="text-center"><b>Pricing per application</b></h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>2 Step Paint Correction - 85% Correction</li>
      <li>Finishing Glaze</li>
      <li>Machine wax</li>
      <li><b>Trim Restoration</b></li>
      <li><b>Headlight Restoration</b></li>
      <li><b>Exhaust Polishing</b></li>
    </ul>
    <p class="text-center"><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=I would like to schedule The Showroom Service">Schedule The Showroom Service »</a></p>
  </div>
</div>


<!-- * Add Sealant (Cars: $30, Trucks/SUVs/Sedans: $35)
    * Replace Wax with Sealant (Cars: $15, Trucks/SUVs/Sedans: $20)
    (Cars: $80, Trucks/SUVs/Sedans: $110)-->