<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Packages</h1>
    <p class="lead">Take a look at our most popular packages and choose the right one for you. Need something custom? Feel free to contact us with what you need.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Bronze Package</h2>
    <h4 class="text-center">
      Coupe: <b>$80</b><br />
      Sedan: <b>$100</b><br />
      Truck/SUV: <b>$120</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Light bug and tar removal</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
    </ul>
    <p class="text-center">
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.503342539745553.1073741829.316618878417921&type=3">View Example »</a>
      <a class="btn btn-success" href="/contact?subject=I would like to schedule the Bronze Package">Schedule Bronze Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Silver Package</h2>
    <h4 class="text-center">
      Coupe: <b>$110</b><br />
      Sedan: <b>$130</b><br />
      Truck/SUV: <b>$150</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
      <li><b>Full Bug and Tar Removal</b></li>
      <li><b>Clay Bar</b></li>
    </ul>
    <p class="text-center">
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.432738216805986.100420.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="/contact?subject=I would like to schedule the Silver Package">Schedule Silver Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Shine Package</h2>
    <h4 class="text-center">
      Coupe: <b>$150</b><br />
      Sedan: <b>$175</b><br />
      Truck/SUV: <b>$200</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
      <li>
        <b>
          Polish - Corrects:
          <ul>
            <li>Minor Haze, Dullness, and Oxidation</li>
            <li>Light Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
    <p class="text-center"><b>Note:</b> The Polish is the Last Step Product in this package.</p>
    <p class="text-center">
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.406990479380760.96387.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="/contact?subject=I would like to schedule the Shine Package">Schedule Shine Package »</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Gold Package</h2>
    <h4 class="text-center">
      Coupe: <b>$225</b><br />
      Sedan: <b>$260</b><br />
      Truck/SUV: <b>$300</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
      <li>
        <b>
          1 Step Paint Correction - Corrects:
          <ul>
            <li>Oxidation</li>
            <li>Light Defects</li>
            <li>Moderate Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
    <p class="text-center">
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.578630195550120.1073741838.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="/contact?subject=I would like to schedule the Gold Package">Schedule Gold Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Platinum Package</h2>
    <h4 class="text-center">
      Coupe: <b>$300</b><br />
      Sedan: <b>$350</b><br />
      Truck/SUV: <b>$425</b>
    </h4>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
      <li>
        <b>
          2 Step Paint Correction - Corrects:
          <ul>
            <li>Heavy Defects</li>
            <li>Severe Swirl Marks</li>
          </ul>
        </b>
      </li>
      <li><b>Finishing Glaze</b></li>
    </ul>
    <p class="text-center">
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/media/set/?set=a.327525280660614.76105.316618878417921&type=1">View Example »</a>
      <a class="btn btn-success" href="/contact?subject=I would like to schedule the Platinum Package">Schedule Platinum Package »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">The Showroom Service</h2>
    <h4 class="text-center">
      <br />
      <b>Pricing per application</b>
    </h4>
    <br />
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>2 Step Paint Correction</li>
      <li>Finishing Glaze</li>
      <li>
        Choice of Last Step Product:
        <ul>
          <li>Carnauba Wax</li>
          <li>Spray Wax</li>
          <li>Synthetic Sealant <b>+$</b></li>
          <li>Permanent Coating <b>+$</b></li>
        </ul>
      </li>
      <li><b>Trim Restoration</b></li>
      <li><b>Headlight Restoration</b></li>
      <li><b>Exhaust Polishing</b></li>
    </ul>
    <p class="text-center"><a class="btn btn-success" href="/contact?subject=I would like to schedule The Showroom Service">Schedule The Showroom Service »</a></p>
  </div>
</div>