<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Services</h1>
    <p class="lead">Take a look at our most popular packages and choose the right one for you. Need something custom? Feel free to contact us with what you need.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Bronze Package</h2>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Light bug and tar removal</li>
      <li>Machine wax</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Silver Package</h2>
      <ul>
        <li>Interior vacuum and protectant wipe down</li>
        <li>Glass cleaned and protected with rain repellant</li>
        <li>Door and trunk jambs cleaned</li>
        <li>Exterior hand wash</li>
        <li>Wheels and splash guards cleaned</li>
        <li>Tires dressed</li>
        <li>Machine wax</li>
        <li><b>Full Bug and Tar Removal</b></li>
        <li><b>Clay Bar</b></li>
      </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Shine Package</h2>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li>
        <b>
          Polish - 25% Correction<br />
          Corrects:
          <ul>
            <li>Haze and Dullness</li>
            <li>Minor Oxidation</li>
            <li>Light Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
    <b>Note:</b> The Polishing and Protection steps are combined with this package.
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h4 class="text-center">Cars: <b>$80</b>, Trucks/SUVs/Sedans: <b>$110</b></h4>
  </div>
  <div class="col-lg-4">
    <h4 class="text-center">Cars: <b>$120</b>, Trucks/SUVs/Sedans: <b>$150</b></h4>
  </div>
  <div class="col-lg-4">
    <h4 class="text-center">Cars: <b>$170</b>, Trucks/SUVs/Sedans: <b>$220</b></h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="text-center">Gold Package</h2>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li>
        <b>
          1 Step Paint Correction - 60% Correction<br />
          Corrects:
          <ul>
            <li>Oxidation</li>
            <li>Light Defects</li>
            <li>Moderate Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">Platinum Package</h2>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Machine wax</li>
      <li><b>Finishing Glaze</b></li>
      <li>
        <b>
          2 Step Paint Correction - 85% Correction<br />
          Corrects:
          <ul>
            <li>Heavy Defects</li>
            <li>All Swirl Marks</li>
          </ul>
        </b>
      </li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="text-center">The Showroom Service</h2>
    <ul>
      <li>Interior vacuum and protectant wipe down</li>
      <li>Glass cleaned and protected with rain repellant</li>
      <li>Door and trunk jambs cleaned</li>
      <li>Exterior hand wash</li>
      <li>Wheels and splash guards cleaned</li>
      <li>Tires dressed</li>
      <li>Complete Bug and Tar Removal</li>
      <li>Clay Bar</li>
      <li>Finishing Glaze</li>
      <li>2 Step Paint Correction - 85% Correction</li>
      <li>Machine wax</li>
      <li><b>Trim Restoration</b></li>
      <li><b>Headlight Restoration</b></li>
      <li><b>Exhaust Polishing</b></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h4 class="text-center">Cars: <b>$240</b>, Trucks/SUVs/Sedans: <b>$300</b></h4>
  </div>
  <div class="col-lg-4">
    <h4 class="text-center">Cars: <b>$340</b>, Trucks/SUVs/Sedans: <b>$420</b></h4>
  </div>
  <div class="col-lg-4">
    <h4 class="text-center"><b>Please Call for Pricing</b></h4>
  </div>
</div>

<!-- * Add Sealant (Cars: $30, Trucks/SUVs/Sedans: $35)
    * Replace Wax with Sealant (Cars: $15, Trucks/SUVs/Sedans: $20)
    (Cars: $80, Trucks/SUVs/Sedans: $110)

Other Services (Please Ask for Pricing):
- Maintenance Packages
- Headlight Restoration
- Spot Paint Defect Correction
- Trim Restoration
- Finishing Glaze (For increased depth, gloss, and dripping wet reflections!)
- Exhaust Polishing
- Convertible Top Conditioning
- Custom Packages -->