<link href="css/bootstrap-image-gallery.min.css" rel="stylesheet">
<link href="css/blueimp-gallery.min.css" rel="stylesheet">

<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Services</h1>
    <p class="lead">Find out what we offer and choose the service for you. Don't see what you're looking for? Let us know!</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Inside &amp; Out Packages</h2>
    <p class="service-preview">
      <a href="/img/services/in-out-before.jpg" title="Inside &amp; Out Packages - Before" class="before" data-gallery>
          <img src="/img/services/in-out-before.jpg" alt="Before">
      </a>
      <a href="/img/services/in-out-after.jpg" title="Inside &amp; Out Packages - After" class="after" data-gallery>
        <img src="/img/services/in-out-after.jpg" alt="After" />
      </a>
    </p>
    <p>Packages are perfect for giving the interior and exterior of your vehicle the attention that it deserves. There are plenty of packages to choose from, ensuring you get the best bang for your buck! We also provide custom packages to make sure all of your vehicle's needs are met.</p>
  </div>
  <div class="col-lg-4">
    <h2>Spot Corrections</h2>
    <p class="service-preview">
      <a href="/img/services/spot-before.jpg" title="Spot Correction - Before" class="before" data-gallery>
          <img src="/img/services/spot-before.jpg" alt="Before">
      </a>
      <a href="/img/services/spot-after.jpg" title="Spot Correction - After" class="after" data-gallery>
        <img src="/img/services/spot-after.jpg" alt="After" />
      </a>
    </p>
    <p>Bumped into something or someone? Have a deep scratch or imperfection that's starting to become an eyesore? Spot correction is the service for you.</p>
  </div>
  <div class="col-lg-4">
    <h2>Headlight Restorations</h2>
    <p class="service-preview">
      <a href="/img/services/headlights-before.jpg" title="Headlight Restoration - Before" class="before" data-gallery>
          <img src="/img/services/headlights-before.jpg" alt="Before">
      </a>
      <a href="/img/services/headlights-after.jpg" title="Headlight Restoration - After" class="after" data-gallery>
        <img src="/img/services/headlights-after.jpg" alt="After" />
      </a>
    </p>
    <p>Do you have hazy, cloudy, or yellowed headlights? If you do, not only are the headlights an eyesore,
      but your headlights are no longer outputting the same amount of light. Headlights become hazy, cloudy, and yellowed over time as UV rays wear down the film protecting your plastic headlights. Our restoration service will have your headlights looking brand new. As well, we apply UV protection to the headlights so that the finish remains preserved.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    <p><h4>Pricing starts at <b>$40</b> per  2' x 2' section</h4></p>
    <p><h5>Mobile services are extra!</h5></p><br />
  </div>
  <div class="col-lg-4">
    <p><h4><b>$40</b> w/ 3 month warranty</p>
    <p><h4><b>$60</b> w/ 1 year warranty</h4></p>
    <p><h5>Mobile services are extra!</h5></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="/packages">View Packages »</a></p>
  </div>
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=Scheduling a Spot Correction">Schedule a Spot Correction »</a></p>
  </div>
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=Scheduling a Headlight Restoration">Schedule a Headlight Restoration »</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Leather Cleaning</h2>
    <p class="service-preview center">
      <a href="/img/services/leather.jpg" title="Leather Cleaning" class="full" data-gallery>
          <img src="/img/services/leather.jpg" />
      </a>
    </p>
    <p><!-- The interior is considered the most important area for most people, and is almost an extension of their homes. Think of all the time spent driving to and from work, school, etc. -->Maintenance is key for long lasting leather. We use a variety of products that enables us to properly clean, rejuvenate, and protect your leather components. Using product by Leatherique and Aerospace 303 will help prevent drying, cracking, and tearing of leather.</p>
  </div>

  <div class="col-lg-4">
    <h2>Pet Hair Removal</h2>
    <p class="service-preview">
      <a href="/img/services/pet-hair-before.jpg" title="Pet Hair Removal - Before" class="before" data-gallery>
          <img src="/img/services/pet-hair-before.jpg" alt="Before">
      </a>
      <a href="/img/services/pet-hair-after.jpg" title="Pet Hair Removal - After" class="after" data-gallery>
        <img src="/img/services/pet-hair-after.jpg" alt="After" />
      </a>
    </p>
    <p>Do you love your pets but not the hair they leave in the interior of your vehicle? Not only will we remove the hair, we'll get rid of any lingering odors that may come along with having pets in your vehicle.</p>
  </div>

  <div class="col-lg-4">
    <h2>Others Services</h2>
    <ul>
      <li>Maintenance Contracts</li>
      <li>Swirl Removal</li>
      <li>Permanent Coatings</li>
      <li>Exhaust Polishing</li>
      <li>Trim Restoration</li>
      <li>Convertible Top Conditioning</li>
      <li>"Off-the-Car" Wheel Cleaning</li>
      <li>Wheel Polishing and Protection</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p><h4>Pricing varies per application</h4></p>
  </div>
  <div class="col-lg-4">
    <p><h4>Pricing varies per application</h4></p>
  </div>
  <div class="col-lg-4">
    <p><h4>Pricing varies per service and application</h4></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=Scheduling a Leather Cleaning">Schedule a Leather Cleaning »</a></p>
  </div>
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=Scheduling a Pet Hair Removal">Schedule a Pet Hair Removal »</a></p>
  </div>
  <div class="col-lg-4">
    <p><a class="btn btn-success" href="mailto:mmisshore@gmail.com?subject=Scheduling a Service">Schedule a Service »</a></p>
  </div>
</div>

<script src="js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>